.login-container {
    margin-top: auto;
    padding: 80px 30px;
  width: 500px;
  margin: auto;
}

.login-container form {
  display: flex;
  margin-bottom: 80px;
  flex-direction: column;
  gap: 20px;
}

.login-container input {
  padding: 15px;
  border: 2px solid #aaa;
  border-radius: 5px;
  font-size: 20px;
}

.login-container button {
  padding: 15px;
  font-size: 20px;
  background: #345583;
  color: white;
  border-radius: 5px;
  border: none;
}

.login{
  font-size: 30px;
  text-align: center;
}
